.flash {
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 0.7em;
	text-align: center;
	font-weight: bold;
	font-size: 12pt;
}
.flash.error,
.flash#error {
	border: 2px solid #F44;
	background-color: #FCC;
}
.flash.notice,
.flash#notice {
	border: 2px solid #4F4;
	background-color: #CFC;
}
.flash.noscript,
.flash#noscript {
	border: 2px solid #FF8C00;
	background-color: #FFC5AF;
}

fieldset {
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

p > small {
	color: gray;
	font-size: 6pt;
}

div.header {
	clear:both;
	padding: 6px;
}
.row {
	clear:left;
	border: 1px solid silver;
	border-top: 0;
	padding: 6px;
	overflow: auto;
}
.row div.manage {
	text-align:right;
}
.row:nth-child(1) {
	border-top: 1px solid silver;
}
.row:nth-child(2n)   { background-color: #FCF9EF; }
.row:nth-child(2n+1) { background-color: #F5F1E8; }

table {
	border-collapse:collapse;
	width: 100%;
}
tr.row td {
	padding: 6px;
}
td.manage {
	text-align:right;
}

form.link_to {
	padding-top: 10px;
	padding-bottom: 10px;
}

div.pagination {
	text-align: center;
}


/* http://www.positioniseverything.net/articles/onetruelayout/equalheight */
.equal_height_column_wrapper {
	overflow:hidden;
}
.equal_height_column {
	padding-bottom: 32767px;
	margin-bottom: -32767px;
}


.columns {
	clear:both;
	/* this holds the div open to the size of the contents */
	display:table-row;
}
.columns > div {
	/* and this seems to alleviate the need for floating */
	display:table-cell;
}



th {
	text-align: left;
}


.field_wrapper {
	margin-bottom: 15px;
	clear:both;
}
.field_wrapper * {
	float:left;
}
.field_wrapper *:last-child {
	float:none;
}
.field_wrapper .label,
.field_wrapper  label {
	width: 250px;
}

form.destroy_link_to {
	display:inline;
}
